html, body, #root { 
    height: 100%;
}

.bookSearcher {
    position: fixed;
    height: 97%;
    border: 2px solid rgb(246, 247, 249);
    max-width: 900px;
    left: 0;
    right: 0;
    margin: auto;
}

.searchBar {
    background: rgb(70, 70, 70);
    color:rgb(246, 246, 246);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.searchBar * {
    font-family: Arial, Helvetica, sans-serif;
}

.searchBar .search {
    padding: 10px;
}

.searchBar .categorie {
    padding: 10px 5px 10px 5px;
    font-size: 14px;
}

.searchBar .sort {
    padding: 10px 5px 10px 5px;
    font-size: 14px;
}

.searchBar .decorateBoard {
    width: 100%;
    margin-top: 10px;
    height: 15px;
    background: rgb(255, 120, 71);
}

.cardBar {
    height: calc(100% - 150px);
}

.loader {
    background: rgba(254, 236, 231, 0.801);
    border-radius: 20px;
    width: 250px;
    height: 250px;
    line-height: 250px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    box-shadow: 0 0 50px rgba(0,0,0,0.5)
}

.found {
    text-align: center;
    margin-top: 5px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: auto;
    height: calc(100% - 50px);
}

.card {
    background: #f5f5f5;
    list-style-type: none;
    margin: 15px;
    width: 200px;
    height: 280px;
    padding: 10px;
    overflow: hidden;
}

.card div {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif
}

.card .imgWrap {
    height: 180px;
    overflow: auto;
}

.card img {
    width: 100px;
    margin-top: 10px;
    margin-left: 50px;
}

.card .categories {
    color: rgb(139, 139, 139);
    text-decoration: underline;
    margin-top: 10px;
}

.card .title {
    font-weight: bold;
}

.card .authors {
    color: rgb(151, 151, 151);
}

.book {
    background: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    height: calc(100% - 150px);
}

.book .close {
    text-align: right;
}

.book .wrap {
    overflow: auto;
    height: calc(100% - 40px);
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.book .imgWrap {
    padding: 50px;
}

.book img {
    width: 200px;
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.5);
}

.book .bookContent {
    width: 500px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.book .categorieBook {
    color: rgb(107, 107, 107);
    padding: 10px;
}

.book .titleBook {
    padding-left: 10px;
    padding-right: 10px;
}

.book .authorsBook {
    color: rgb(107, 107, 107);
    text-decoration: underline;
    padding: 10px;
}

.book .description {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align:justify;
    padding: 10px;
    padding-bottom: 30px;
}

.loadMore {
    background: rgb(70, 70, 70);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    text-align: center;
}

.loadMore button {
    margin: 3px;
}
